---
import Header from '../components/Header.astro';
import Page from '../components/Page.astro';
import Sidebar from '../components/Sidebar.astro';
import '../styles/global.css';

const { story, slug, links } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class='h-full'>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{story.name}</title>
	</head>
	<body class='grid grid-cols-1 grid-rows-[auto_1fr] md:grid-cols-[auto_1fr] h-full'>
		<Header title={story.name} />
		<Sidebar slug={slug} links={links} />
		<Page story={story} />
	</body>
</html>